<ActionBar [title]="item.name" class="action-bar">
    <ActionItem class="fab-button-simple" ios.systemIcon="4" android.systemIcon="ic_menu_add" ios.position="right" (tap)="add()"></ActionItem>
</ActionBar>
<StackLayout class="page">

    <ListView [items]="item.menu" class="list-group">
        <ng-template let-item="item">
            <Button (tap)="onclick(item)" [nsRouterLink]="['/subitem', item.id]" [text]="item.name" class="btn btn-primary btn-active roundbt"></Button>
        </ng-template>
    </ListView>
</StackLayout>